/*global*/
html, body{
margin:0;
padding:0;
color: #333333;
font-family: Impact, Charcoal, sans-serif;
}

.error_message{

text-align:center;
color:red;
font-size:25px;

}



/*navitagation*/
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}
li {
float: left;
}
li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
li a:hover:not(.active) {
background-color: #111;
}
.active {
background-color: #4CAF50;
}
.sign_up_in{
float:right;
}
.sign_up_and_in_container{
text-align:center;
}
.issues_text{
text-align: center;
color:red;
}
#welcome_nav_name{
float:right;
color:white;
}
/*index*/

